*.suo
*.user
*.sln.docstates

*.psess
*.vsp
*.vspx

*.Publish.xml
*.pubxml
*.publishproj

#--------------------

.vs/
bin/
obj/
temp/
artifacts/
node_modules/

/src/*/Properties/PublishProfiles/
/src/*/*.cert
/src/*/appsettings.*.json
/src/*/logs/

*.nupkg
